body {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    box-sizing: border-box;
    overflow-wrap: break-word;
    /* text-align: justify; */
}

#btnShowData {
    display: block;
    margin-top: 100px;
    margin-left: 20px;
    width: 200px;
    border-color: aqua;
    border-radius: 20px;
    cursor: pointer;
}

#btnReset, #btnSearch {
    display: block;
    margin-top: 3px;
    margin-left: 20px;
    width: 200px;
    border-color: aqua;
    border-radius: 20px;
    cursor: pointer;
}

#btnShowData:hover, #btnReset:hover, #btnSearch:hover {
    background-color: #8f8f8f;
}

ul {
    padding: 0;
    margin: 20px 20px;
}

li {
    list-style-type: none;
    padding: 5px;
    border: 1px solid #8f8f8f;
    border-radius: 2px;
    flex: 1;
}

#inputSearch {
    display: inline;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px 0;
    width: 192px;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    font-size: 1.1em;
}

#inputSearch:focus {
    border: 2px solid green;
}

#containerCountriesData {
    display: flex;
}

#infosCountry {
    flex: 1;
    margin-top: 20px;
    background-color: #8f8f8f;

}